/* Copied and adapted from urlbar-autocomplete.inc.css */

.urlbarView-row[dynamicType=dynamicWeather] {
  padding-block: 6px;
  /* Compensating for the 4px focus ring on tip buttons. */
  padding-inline-end: calc(/*@urlbarViewItemInlinePadding@*/ 6px + 4px);
}

.urlbarView-row[dynamicType=dynamicWeather]:not(:last-child) {
  border-bottom: 1px solid var(--panel-separator-color);
  margin-bottom: 4px;
}

.urlbarView-row[dynamicType=dynamicWeather]:not(:first-child) {
  border-top: 1px solid var(--panel-separator-color);
  margin-top: 4px;
}

.urlbarView-row[dynamicType=dynamicWeather] > .urlbarView-row-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 32px;
  width: 100%;
}

.urlbarView-row[dynamicType=dynamicWeather] > .urlbarView-row-inner > * {
  margin: 6px;
}

.dynamicWeather-icon {
  -moz-context-properties: stroke;
  stroke: currentColor;
}

.dynamicWeather-info {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-inline-end: 12px;
}

.dynamicWeather-info > .dynamicWeather-location {
  font-size: 1.5em;
}

.dynamicWeather-info > .dynamicWeather-provider {
  font-size: 0.7em;
  font-style: italic;
}

.dynamicWeather-current {
  flex: 2;
  display: flex;
  align-items: center;
}

.dynamicWeather-current  > .dynamicWeather-icon {
  min-width: 3.5em;
  margin-inline-end: 20px;
}

.dynamicWeather-current > .dynamicWeather-temperature {
  font-size: 3.5em;
}

.dynamicWeather-current > .dynamicWeather-units {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

.dynamicWeather-daysContainer {
  flex: 5;
  display: flex;
  justify-content: space-evenly;
  /*! overflow: hidden; */
}

@media screen and (max-width: 700px) {
  .dynamicWeather-day:last-child {
    display: none;
  }
}

@media screen and (max-width: 642px) {
  .dynamicWeather-day:nth-last-child(2) {
    display: none;
  }
}

.dynamicWeather-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  min-width: 50px;
  padding-inline: 8px;
}

.dynamicWeather-day > .dynamicWeather-dayofweek {
  font-size: 1.2em;
}

.dynamicWeather-day > .dynamicWeather-icon {
  min-width: 2.2em;
}