/* Copied and adapted from urlbar-autocomplete.inc.css */

.urlbarView-row[dynamicType=dynamicWeather] {
  padding-block: 6px;
  /* Compensating for the 4px focus ring on tip buttons. */
  padding-inline-end: calc(/*@urlbarViewItemInlinePadding@*/ 6px + 4px);
}

.urlbarView-row[dynamicType=dynamicWeather]:not(:last-child) {
  border-bottom: 1px solid var(--panel-separator-color);
  margin-bottom: 4px;
}

.urlbarView-row[dynamicType=dynamicWeather]:not(:first-child) {
  border-top: 1px solid var(--panel-separator-color);
  margin-top: 4px;
}

.urlbarView-row[dynamicType=dynamicWeather] > .urlbarView-row-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 32px;
  width: 100%;
}

.urlbarView-row[dynamicType=dynamicWeather] > .urlbarView-row-inner > * {
  margin: 6px;
}

.urlbarView-dynamic-dynamicWeather-dayIcon0,
.urlbarView-dynamic-dynamicWeather-dayIcon1,
.urlbarView-dynamic-dynamicWeather-dayIcon2,
.urlbarView-dynamic-dynamicWeather-dayIcon3,
.urlbarView-dynamic-dynamicWeather-dayIcon4,
.urlbarView-dynamic-dynamicWeather-currentIcon {
  -moz-context-properties: stroke;
  stroke: currentColor;
}

.urlbarView-dynamic-dynamicWeather-info {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-inline-end: 12px;
}

.urlbarView-dynamic-dynamicWeather-info > .urlbarView-dynamic-dynamicWeather-location {
  font-size: 1.5em;
}

.urlbarView-dynamic-dynamicWeather-info > .urlbarView-dynamic-dynamicWeather-provider {
  font-size: 0.7em;
  font-style: italic;
}

.urlbarView-dynamic-dynamicWeather-current {
  flex: 2;
  display: flex;
  align-items: center;
}

.urlbarView-dynamic-dynamicWeather-current > .urlbarView-dynamic-dynamicWeather-currentIcon {
  min-width: 3.5em;
  margin-inline-end: 20px;
}

.urlbarView-dynamic-dynamicWeather-current > .urlbarView-dynamic-dynamicWeather-currentTemperature {
  font-size: 3.5em;
}

.urlbarView-dynamic-dynamicWeather-current > .urlbarView-dynamic-dynamicWeather-currentUnits {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

.urlbarView-dynamic-dynamicWeather-daysContainer {
  flex: 5;
  display: flex;
  justify-content: space-evenly;
  /*! overflow: hidden; */
}

.urlbarView-dynamic-dynamicWeather-day0,
.urlbarView-dynamic-dynamicWeather-day1,
.urlbarView-dynamic-dynamicWeather-day2,
.urlbarView-dynamic-dynamicWeather-day3,
.urlbarView-dynamic-dynamicWeather-day4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  min-width: 50px;
  padding-inline: 8px;
}

@media screen and (max-width: 700px) {
  .urlbarView-dynamic-dynamicWeather-day4 {
    display: none;
  }
}

@media screen and (max-width: 642px) {
  .urlbarView-dynamic-dynamicWeather-day3 {
    display: none;
  }
}

.urlbarView-dynamic-dynamicWeather-dayOfWeek0,
.urlbarView-dynamic-dynamicWeather-dayOfWeek1,
.urlbarView-dynamic-dynamicWeather-dayOfWeek2,
.urlbarView-dynamic-dynamicWeather-dayOfWeek3,
.urlbarView-dynamic-dynamicWeather-dayOfWeek4 {
  font-size: 1.2em;
}

.urlbarView-dynamic-dynamicWeather-dayIcon0,
.urlbarView-dynamic-dynamicWeather-dayIcon1,
.urlbarView-dynamic-dynamicWeather-dayIcon2,
.urlbarView-dynamic-dynamicWeather-dayIcon3,
.urlbarView-dynamic-dynamicWeather-dayIcon4 {
  min-width: 2.2em;
}
